S3method(generateRownames,default)
S3method(generateRownames,factor)
S3method(html,mutable)
S3method(latex,mutable)
S3method(muColumn,"function")
S3method(muColumn,default)
S3method(muColumn,formula)
S3method(muRownames,default)
S3method(muRownames,factor)
S3method(muStratSummary,default)
S3method(muStratSummary,factor)
S3method(muStratTest,default)
S3method(muStratTest,factor)
S3method(print,mutable)
S3method(summary,mutable)
export("+.mutable")
export(generateRownames)
export(muColumn)
export(muFormatPvalue)
export(muInsertRow)
export(muPrintIdentity)
export(muPrintIdentityHTML)
export(muRownames)
export(muStratSummary)
export(muStratTest)
export(mutable)
export(mutable.formula)
export(mutableResponse)
import(Hmisc)
