S3method(generateRowNames,default)
S3method(generateRowNames,factor)
S3method(html,mutable)
S3method(latex,mutable)
S3method(muRownames,default)
S3method(muRownames,factor)
S3method(muStratSummary,default)
S3method(muStratSummary,factor)
S3method(muStratTest,default)
S3method(muStratTest,factor)
S3method(mutable,"function")
S3method(mutable,default)
S3method(mutable,formula)
S3method(print,mutable)
S3method(summary,mutable)
export("+.mutable")
export(generateRowNames)
export(muFormatPvalue)
export(muInsertRow)
export(muPrintIdentity)
export(muPrintIdentityHTML)
export(muRownames)
export(muStratSummary)
export(muStratTest)
export(mutable)
export(mutableResponse)
export(mutableStrat)
