S3method(generateRowNames,default)
S3method(generateRowNames,factor)
S3method(mutable,"function")
S3method(mutable,default)
S3method(mutable,formula)
S3method(print,mutable)
S3method(summary,mutable)
export(generateRowNames)
export(mutable)
