td, th {
    padding-right: 20px; 
    padding-left: 20px; 
    border: 1px dotted #666;
}

th {
    text-align: left;
}

table {
    border: 3px solid #333;;
    border-collapse: collapse;	
}

.continuous-cell {
    background-position:center bottom;
    background-repeat: no-repeat;
    height: 50px;
    width: 200px;
}

.factor-heading-cell {
    background-position:center bottom;;
    background-repeat: no-repeat;
    height: 50px;
    width: 200px;
}

.factor-heading{
    background-color:#e2f3f3;
}

.factor-level{
    background-color:#5972B6;
}

tr:hover th[scope=row], tr:hover td
{ 
  background-color: #8FA6B5;
  color: #000000;
} 

caption
{
  font-size: 2em;
  font-style: italic;
  text-align: left;
  padding: 0.5em 0;
}
